body {
    margin:0 auto;
    padding:0;
    font-family:Calibri;
}

#lanbanboard {
    width:100%;
}

.clear {
    clear:both;
}

#header {
    width:100%;
    height:50px;
}

#logo {
    padding:15px;
    font-family:'Lucida Console';
    font-size:20px;
    font-weight:bold;
    float:left;
    width:100px;
    vertical-align:middle;
}

#user-information {
    float:right;
    padding:15px;
    width:200px;
}

#projectDropDownList {
    width:100px;
}

#toolbar {
    width:100%;
    height:30px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color:#333;
    padding:5px;

}

.icon {
    width:30px;
    height:30px;
    display:inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 20px;
    padding-right: 0.5em;
}

#add-button:before {
    content:'\f055';
}

#search-button:before {
    content:'\f00e';
}

#filter-button:before {
    content:'\f0b0';
}

#kanbanboard {
    width:100%;
    margin-top:15px;
    border-collapse:collapse;
}

.board-header {
    background-color:#808080;
}

.board-content {
    background-color:whitesmoke;
    width:20%;
}

.tasks {
    background-color:#FFFFA0;
    border: 1px solid #FFCC66;
    margin:5px 5px 10px 5px;
    padding:5px;
    clear:both;
}

#add-button:hover, #search-button:hover, #filter-button:hover, .tasks:hover {
    cursor:pointer;
}