body {
    margin:0 auto;
    padding:0;
    font-family:Calibri;
}

/*Register and login form*/
#registerForm {
    width:33.2em;
    background-color:deepskyblue;
    padding:1.2em;
    margin:1.2em auto;
}

#registerFormTitle {
    color:whitesmoke;
    text-align:center;
    margin:0em 0em 0.6em 0em;
    font-size:2.5em;
}

#RegisterPanel {
    width:28em;
    background-color:whitesmoke;
    margin:0 auto;
    font-size:1.1em;
    padding:1.2em;
}

.registerLabel {
    vertical-align:bottom;
}

.validatorField {
    color:red;
    font-size:0.8em;
}

#usernameTextBox, #passwordTextBox, #passwordconfirmTextBox, #emailTextBox {
    width:18em;
    height:1.4em;
    margin-left:0.6em;
}
#btnRegiterField {
    text-align:right;
    padding-top:1.2em;
}

/*board*/
#lanbanboard {
    width:100%;
}

.clear {
    clear:both;
}

#header {
    width:100%;
    height:3.1em;
}

#logo {
    padding:1em;
    font-family:'Lucida Console';
    font-size:1.2em;
    font-weight:bold;
    float:left;
    width:6.2em;
    vertical-align:middle;
}

#user-information {
    float:right;
    padding:15px;
    width:12.5em;
}

#projectDropDownList {
    width:6.2em;
}

#toolbar {
    width:100%;
    background-color:black;
}

.icon {
    display:inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 1.5em;
    padding:0.4em 0em 0.4em 0.8em;
    vertical-align:middle;
}

#logo:hover, .icon:hover {
    color:deepskyblue;
}

#btnAdd:before {
    content:"\f055";
}

#btnSearch:before {
    content:"\f00e";
}

#btnFilter:before {
    content:"\f0b0";
}

#kanbanboard {
    width:100%;
    margin-top:1em;
    border-collapse:collapse;
}

.board-header {
    background-color:black;
    color:#eeeeee;
    font-size:1.2em;
}

.board-content {
    background-color:#eeeeee;
    width:20%;
}

.backlog {
    background-color:#FFFFA0;
    border: 1px solid #FFCC66;
    margin:0.3em 0.3em 0.6em 0.3em;
    clear:both;
}

.backlog-header {
    background-color:#ffff60;
}

.btnComplexity {
    font-weight:bold;
    font-size: 1.3em;
    margin-left:0.4em;
    display:inline-block;
    text-decoration:none;
    color:black;
}

.backlogIcon {
    display:inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: gray;
    font-size: 1.1em;
    margin:0.2em 0.5em 0.2em 0em;
    float:right;
    vertical-align:middle;
}

.iconEdit:before {
    content: "\f040";
}

.iconDelete:before {
    content: "\f00d";
}

.backlog-content {
    font-size:1.1em;
    padding: 0.4em;
}

.backlog-title {
    text-decoration:none;
    color:black;
    text-align:justify;
}

.backlog-footer {
    padding:0.2em;
}

.btnDueDate {
    font-size: 1em;
    margin-left:0.2em;
    text-decoration:none;
    color:black;
}

.iconTask:before {
    font-size: 1em;
    content:  "\f00b";
}

.iconEdit:hover, .iconDelete:hover, .iconTask:hover {
    color: black;
}

.tasks {
    background-color:snow;
    border: 1px solid #b2b2b2;
    margin:0.3em 0.3em 0.6em 2.2em;
    padding:0.3em;
    clear:both;
}
#add-button:hover, #search-button:hover, #filter-button:hover, .tasks:hover {
    cursor:pointer;
}

.popupbackground {
    background-color:gray;
    opacity: 0.5;
    filter:Alpha(opacity=50);
}
 
.popupmodal {
    background-color:white;
    padding:0.6em;
}