body {
    margin:0 auto;
    padding:0;
    font-family:Calibri;
}

#lanbanboard {
    width:100%;
}

.clear {
    clear:both;
}

#header {
    width:100%;
    height:50px;
}

#logo {
    padding:15px;
    font-family:'Lucida Console';
    font-size:1.2em;
    font-weight:bold;
    float:left;
    width:100px;
    vertical-align:middle;
}

#user-information {
    float:right;
    padding:15px;
    width:200px;
}

#projectDropDownList {
    width:100px;
}

#toolbar {
    width:100%;
    background-color:black;
}

.icon {
    display:inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: white;
    font-size: 1.5em;
    padding:0.4em 0em 0.4em 0.8em;
    vertical-align:middle;
}

#logo:hover, .icon:hover {
    color:deepskyblue;
}

#btnAdd:before {
    content:"\f055";
}

#btnSearch:before {
    content:"\f00e";
}

#btnFilter:before {
    content:"\f0b0";
}

#kanbanboard {
    width:100%;
    margin-top:15px;
    border-collapse:collapse;
}

.board-header {
    background-color:black;
    color:#eeeeee;
    font-size:1.2em;
}

.board-content {
    background-color:#eeeeee;
    width:20%;
}

.backlog-content {
    background-color:#FFFFA0;
    border: 1px solid #FFCC66;
    margin:5px 5px 10px 5px;
    padding:5px;
    clear:both;
}

.tasks {
    background-color:snow;
    border: 1px solid #b2b2b2;
    margin:5px 5px 10px 35px;
    padding:5px;
    clear:both;
}
#add-button:hover, #search-button:hover, #filter-button:hover, .tasks:hover {
    cursor:pointer;
}

.popupbackground {
    background-color:gray;
    opacity: 0.5;
    filter:Alpha(opacity=50);
}
 
.popupmodal {
    background-color:white;
    padding:10px;
}